html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
    background-color: #ecf0f5;
}
body > .container {
    padding: 70px 15px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #3c8dbc;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Set the fixed height of the footer here */
    height: 62px;
    border-top: 1px solid #eee;
}
.container .text-muted {
    margin: 20px 0;
    color: #fff;
}
.footer > .container {
    padding-right: 75px;
    padding-left: 75px;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
}

.list-box-controls {
    padding: 5px 10px;
}

.list-table th,
.list-table td {
    text-align: center;
    vertical-align: middle;
}

.list-table .label {
    display: inline-block;
    margin-right: 2px;
}